.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.popup::before {
  content: '';
  position: fixed;
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
