.header__logo {
  width: 142px;
  height: 33px;
  background-size: 142px;
  background-repeat: no-repeat;
  background-image: url(../../../images/header-logo.svg);
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 27px;
    background-size: 104px;
    margin-bottom: 32px;
  }
}
