.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 200px 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 0 42px;
  }
}
