.elements {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 0 67px;
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}

@media screen and (max-width: 768px) {
  .elements {
    padding: 0 19px 48px;
  }
}
