.popup__save-button {
  margin: 48px 36px 37px;
  padding: 14px 0 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .popup__save-button {
    padding: 14px 0 14px;
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
