.element__like_active {
  width: 22px;
  height: 19px;
  margin: 30px 20px;
  cursor: pointer;
  background-image: url(../../../../images/like-active.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
}

.element__like_active:hover {
  opacity: 0.5;
  transition: 0.3s;
}

